*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "ALS Sector", Lato, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.fighters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 15px;
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.fighter:hover {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.name {
  align-self: center;
  font-size: 21px;
  margin-top: 20px;
}

.fighter-image {
  height: 260px;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 1);
  opacity: 0;
  animation: fadeOut 0.7s;
  animation-play-state: paused;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  background-color: white;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  font-weight: 700;
  font-size: 22px;
}

.modal-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.modal-body > .fighter-image {
  margin-left: auto;
  margin-right: auto;
}

.fighter-name {
  text-align: center;
  width: 100%;
  font-size: 36px;
  font-weight: 900;
  margin-top: 13px;
}

.fire-text {
  font-size: 70px;
  background-image: url(https://i.ibb.co/SVJRgY1/Fire-3.jpg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fire-name 5s linear infinite;
  -webkit-backface-visibility: hidden;
}

@keyframes fire-name {
  0% {
    background-position: 0 -50%;
  }
  0% {
    background-position: 100% -50%;
  }
}

.fighter-attack {
  color: #fa0000;
  margin-top: 10px;
}

.fighter-defence {
  color: #0a0ae0;
  margin-top: 10px;
}

.fighter-health {
  color: #00b52f;
  margin-top: 10px;
}

.fighter-attack::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-image: url(https://svgshare.com/i/L6J.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 15px;
}

.fighter-defence::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-image: url(https://svgshare.com/i/L6u.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 15px;
}

.fighter-health::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-image: url(https://svgshare.com/i/L4p.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 15px;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.custom-checkbox .checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
